/* ======================================== GENERAL ======================================== */
.header{
}
.header h1{
    margin-right: 75px;
}
body {
	background-color: white;	
	font-family: 'Roboto', sans-serif;
	min-width: 600px;
}
.content{
    width:100%; /* Adjust to change width of main content area */
}
.wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	min-width: 1020px;
    max-width: 1366px;
}
.footer {
}
/* ======================================== END GENERAL ======================================== */